.company-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    padding-top: 10px;
}

.heading {
    padding-left: 40px;
    margin-block: 10px;
    font-size: 0.9em;
}