.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 0;
    top: 40px;
    text-align: left;
}

.Profile h3 {
    font-size: 1em;
}

.Profilebutton {
    position: absolute;
    top: 60px;
}