.Home {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    margin-top: 0;
    top: 20px;
    text-align: left;
    margin-left: 20vw;
    color: black;
    font-weight: bold;
}

.Home h3 {
    font-size: 1em;
}