.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -15px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 33px;
    padding-top: 5px;
    padding-left: 40px;
}

.SaveOption {
    color: blue;
    margin-left: 60px;
}

.widgets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3em;
}

h2  {
    line-height: 0;
    font-size: 1.2em;
}

h3 {
    font-size: 0.85em;
    line-height: 0;
}


p, label {
    font-size: 0.75em;
    line-height: 0;
    font-family: "Roboto", monospace;
}

span  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: fit-content;
    line-height: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}