.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    height: 30px;
    background-color: transparent;
}

.searchbar section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-content: flex-start;
}

input {
    min-width: 250px;
    outline: none;
    padding-block: 5px;
    vertical-align: center;
}

.searchbar li {
    list-style-type: none;
}

.searchbar ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: -40px;
    max-width: fit-content;
}

.searchbar Select,
.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
}





