.searchbar {
    display: flex;
    flex-direction: row;
    margin: 85px;
    justify-content: center;
}

.searchbar input {
    border-radius: 2px 0 0 2px;
    border: none;
    padding: 8px 16px;
    width: 35%;
    outline: none;
}

.searchbar button {
    border-radius: 0 2px 2px 0;
    border: none;
    padding: 8px 16px;
    color: black;
    cursor: pointer;
    outline: none;
}

.searchbar input,
.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
}

.k {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 15px 0 0 0;
    font-weight: 400;
}