.searchbar {
    display: flex;
    flex-direction: row;
    margin: 85px;
    justify-content: center;
}

.searchbar form {

}

.searchbar Select {
    border-radius: 2px 0 0 2px;
    border: none;
    padding: 8px 16px;
    width: 35%;
    outline: none;
}

.searchbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    margin: 15px 0 0 0;
    font-weight: 400;
    color: black;
    gap: 2em;
}

.searchbar li {
    list-style-type: none;
}

.searchbar button {
    border-radius: 0 2px 2px 0;
    border: none;
    padding: 8px 16px;
    color: black;
    cursor: pointer;
    outline: none;
    max-height: 30px;
}

.searchbar Select,
.searchbar button {
    font-family: 'Core Sans G', Arial, sans-serif;
}





