
.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100vw;
    top: 0;
    left: 0;
    padding-right: 33px;
    background-color: black;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: white;
    font-size: 1em;
}

.link--default {
    text-decoration: none;
}

.link--active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}