* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  position: relative;
  height: 100vh;
}

.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* Developer mode */
  background-color: black;
}

.inner-container {
  display: flex;
  flex-direction: column;
  flex-basis: 1200px;
  padding-inline: 2em;

  /* Developer mode */
  background-color: darkblue;
}

