body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mountain-top {
  height: 100vh;
  background-size: cover;
  background-image: url('./assets/mountain-top.jpg');
}

.Mountains {
  height: 100vh;
  background-image: url('assets/Mountains.jpg');
  background-size: cover;
}

.carpithians1 {
  height: 100vh;
  background-image: url('./assets/carpithians1.jpg');
  background-size: cover;
}

button {
  border-radius: 2px;
  border: none;
  padding: 8px 16px;
  color: black;
  cursor: pointer;
  outline: none;
}